{{#d-modal-body
  title="event.invite_user_or_group.title"
  class="invite-user-or-group"
}}
  <form>
    {{#event-field}}
      {{user-selector
        single=false
        onChangeCallback=(action "setInvitedNames")
        fullWidthWrap=true
        allowAny=false
        includeMessageableGroups=true
        placeholderKey="composer.users_placeholder"
        tabindex="1"
        usernames=invitedNames
        hasGroups=true
        autocomplete="discourse"
        excludeCurrentUser=true
      }}
    {{/event-field}}
  </form>
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button
    type="button"
    class="btn-primary"
    label="event.invite_user_or_group.invite"
    action=(action "invite")
  }}
</div>
