<div class="add-event-button">
  {{d-button
    action=(action "showAddEventModal")
    class="btn btn-default"
    icon="calendar-day"
    label="discourse_calendar.discourse_post_event.builder_modal.attach"
  }}
</div>
