<table class="holidays-list">
  <thead>
    <tr>
      <td>{{i18n "discourse_calendar.date"}}</td>
      <td>{{i18n "discourse_calendar.holiday"}}</td>
    </tr>
  </thead>

  <tbody>
    {{#each @holidays as |holiday|}}
      <tr>
        <td>{{holiday.date}}</td>
        <td>{{holiday.name}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
