{{#if enabled}}
  <div class="event-field {{class}}">
    {{#if label}}
      <div class="event-field-label">
        <span class="label">{{i18n label}}</span>
      </div>
    {{/if}}
    <div class="event-field-control">
      {{yield}}
    </div>
  </div>
{{/if}}
