<div class="invitees-filter">
  {{d-button
    label="Going"
    class=(concat "btn toggle-going" isGoing)
    action=(action "toggleViewing")
    actionParam="going"
  }}

  {{d-button
    label="Interested"
    class=(concat "btn toggle-interested" isInterested)
    action=(action "toggleViewing")
    actionParam="interested"
  }}

  {{d-button
    label="Not Going"
    class=(concat "btn toggle-not-going" isNotGoing)
    action=(action "toggleViewing")
    actionParam="not_going"
  }}
</div>