<div class="invitees-type-filter">
  {{d-button
    label="discourse_post_event.models.invitee.status.going"
    class=(concat "btn toggle-going" isGoing)
    action=(action "toggleType")
    actionParam="going"
  }}

  {{d-button
    label="discourse_post_event.models.invitee.status.interested"
    class=(concat "btn toggle-interested" isInterested)
    action=(action "toggleType")
    actionParam="interested"
  }}

  {{d-button
    label="discourse_post_event.models.invitee.status.not_going"
    class=(concat "btn toggle-not-going" isNotGoing)
    action=(action "toggleType")
    actionParam="not_going"
  }}
</div>