<div class="calendar"></div>
<div class="calendar-tooltip" role="tooltip">
    <div class="tooltip-content">
        <div class="category"></div>
        <div class="title"></div>
        <div class="starts">
            <div class="date"></div>
            <div class="time"></div>
        </div>
        <div class="date-to">→</div>
        <div class="ends">
            <div class="date"></div>
            <div class="time"></div>
        </div>
    </div>
    <div class="tooltip-arrow" data-popper-arrow></div>
</div>