.discourse-post-event {
  .discourse-post-event-widget {
    border-width: 1px;
  }

  .event-header,
  .event-actions,
  .event-dates {
    padding: 0 0.5em;
  }

  .event-dates {
    .date {
      max-width: 75vw;
    }
  }

  .event-actions {
    .event-status {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  .event-invitees-status {
    font-size: var(--font-down-1);
  }

  .event-invitees .event-invitees-avatars .topic-invitee-avatar .avatar-flair {
    background: none;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    border: none;
    right: -2px;
    bottom: -2px;
  }

  .creators {
    .created-by {
      display: none;
    }
  }
}
