<div class="control-group">
  <label class="control-label">{{i18n 'discourse_calendar.timezone.title'}}</label>
  <div class="controls">
    {{combo-box content=allTimezones value=userTimezone class="user-timezone"}}
  </div>
  {{#if instructions}}
    <div class="instructions">
      {{instructions}}
    </div>
  {{/if}}
</div>
