.calendar {
    .fc-event-title {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      display: block;
    }

    .fc-daygrid-event-dot{
        display: none;
    }

    .fc-event-time {
        background: var(--fc-event-bg-color, #3788d8);
        color: white;
        padding: 2px 4px;
        border-radius: 4px;
        font-size: 0.9em;
    }

    .fc-daygrid-event{
        .fc-event-time {
            margin-left: 2px;
        }
    }

    .fc-daygrid-block-event .fc-event-title {
        padding: 2px;
    }


    .fc-button {
      border-radius: 5px;
      box-shadow: none;
      background: var(--primary-low);
      text-transform: capitalize;
      color: var(--primary);
      text-shadow: none;
      border: none;

      padding: 6px 12px;

      &:hover {
        background: var(--primary-medium);
        color: var(--secondary);
      }

      &.fc-state-active {
        background: var(--tertiary);
        color: var(--secondary);
      }
      margin: 0.3em 0 0.3em 0.5em;
    }

    thead {
      background: var(--fc-button-active-bg-color, #1a252f);
        a {
          color: white;
        }
    }

}

.calendar-tooltip {
    display   : none;
    background: var(--fc-event-bg-color, #3788d8);
    color     : white;
    border    : solid 1px white;
    box-shadow   : rgba(0, 0, 0, 0.3) 0 2px 10px;
    font-weight  : bold;
    padding      : 20px 20px;
    font-size    : 10px;
    border-radius: 4px;
    text-align   : left;
    z-index      : 10;
    position: relative;

    .tooltip-content{

        &.only-first-date {
            .starts {
                position: relative;
                left: auto;
                text-align: center;
                width: 100%;
            }
            .date-to, .ends {
                display: none;
            }
        }

        &.no-title {
            .title {
                display: none;
            }
        }

        .title {
            font-size: 16px;
            margin-bottom: 20px;
            text-align: center;
        }
        .starts, .ends, .date-to {
            display: inline-block;
        }

        .starts {
            position: absolute;
            left: 20px;
            text-align: left;
        }

        .ends {
            position: absolute;
            right: 20px;
            text-align: right;
        }

        .date-to {
            width: 100%;
            min-width: 150px;
            font-size: 20px;
            vertical-align: top;
            text-align: center;
        }
    }

}

.tooltip-arrow,
.tooltip-arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
  border-bottom: solid 1px white;
  border-right: solid 1px white;
}

.tooltip-arrow {
  visibility: hidden;
}

.tooltip-arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

.calendar-tooltip[data-popper-placement^='top'] > .tooltip-arrow {
  bottom: -5px;
}

.calendar-tooltip[data-popper-placement^='bottom'] > .tooltip-arrow {
  top: -5px;
}

.calendar-tooltip[data-popper-placement^='left'] > .tooltip-arrow {
  right: -5px;
}

.calendar-tooltip[data-popper-placement^='right'] > .tooltip-arrow {
  left: -5px;
}
