.raw-topic-link {
  .event-date {
    font-size: $font-down-2;
    background: var(--primary-low, $primary-low);
    padding: 0.25em;
    border-radius: 3px;
    vertical-align: middle;
    margin-left: 0.25em;
  }
}

.header-title {
  .event-date {
    font-size: $font-down-3;
    background: var(--primary-low, $primary-low);
    color: var(--primary-high, $primary-high);
    padding: 0.25em;
    border-radius: 3px;
    vertical-align: middle;
    margin-left: 0.25em;
  }
}
