.discourse-post-event-builder-modal {
  .modal-inner-container {
    min-width: 50vw;
  }

  .modal-body {
    min-height: 200px;

    .d-date-time-input-range {
      width: auto;
      padding: 0;
      border: 0;
    }
  }

  .modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .event-field {
    display: flex;
    margin: 1em 0;
    flex-direction: column;

    &.name {
      input {
        width: 100%;
      }
    }

    .event-field-label {
      display: flex;
      min-height: 1px;
      padding-top: 0;
      top: 0;
      vertical-align: middle;
      align-items: center;

      .label {
        font-weight: 700;
        margin-bottom: 0.5em;
      }
    }

    .event-field-control {
      display: flex;
      flex: 1;
      flex-direction: column;

      .radio-label {
        display: flex;
        align-items: center;
        margin-bottom: 1em;

        &:last-child {
          margin-bottom: 0;
        }

        input[type="radio"] {
          width: auto;
          margin-right: 0.5em;
        }

        .message {
          margin: 0 0 0 1em;
          padding: 0;
          display: flex;
          flex-direction: column;

          .description {
            color: $primary-medium;
          }
        }
      }

      .ac-wrap {
        max-width: 450px;
      }

      input {
        margin: 0;
      }
    }
  }
}
