.calendar {
  height: 700px;
  &.fc-unthemed {
    td.fc-today {
      background: $highlight-medium;
    }

    .fc-day-number {
      font-weight: 700;
    }

    .fc-content-skeleton td.fc-day-top {
      border-top-color: white;
    }

    .fc-bg tbody {
      border-width: 0;
    }
  }
}
