.raw-topic-link {
  .event-date-container {
    display: inline-block;
    .event-date {
      font-size: $font-down-2;
      border: 1px solid var(--primary-medium, $primary-medium);
      background: none;
      padding: 0.25em;
      border-radius: 3px;
      vertical-align: middle;
      margin-left: 0.25em;
    }
  }
}

.header-title {
  .event-date {
    font-size: $font-down-3;
    background: none;
    color: var(--primary-medium, $primary-medium);
    border: 1px solid var(--primary-medium, $primary-medium);
    padding: 0.25em;
    border-radius: 3px;
    vertical-align: middle;
    margin-left: 0.25em;
    font-weight: 500;
  }
}
