.discourse-post-event-upcoming-events {
  .upcoming-events-table {
    width: 100%;

    thead {
      tr th {
        text-align: left;
      }
    }

    tbody {
      tr td {
        padding: 0.5em;
      }
    }
  }
}
