.raw-topic-link {
  .post-event-date {
    font-size: $font-down-2;
    background: $primary-low;
    padding: 0.25em;
    border-radius: 3px;
    vertical-align: middle;
    margin-left: 0.25em;
  }
}

.event-ui-builder-modal {
  .modal-inner-container {
    min-width: 50vw;
  }

  .modal-body {
    min-height: 200px;

    .d-date-time-input-range {
      width: auto;
      padding: 0;
      border: 0;
    }
  }

  .modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .event-field {
    display: flex;
    margin: 1em 0;
    flex-direction: column;

    &.name {
      input {
        width: 100%;
      }
    }

    .event-field-label {
      display: flex;
      min-height: 1px;
      padding-top: 0;
      top: 0;
      vertical-align: middle;
      align-items: center;

      .label {
        font-weight: 700;
        margin-bottom: 0.5em;
      }
    }

    .event-field-control {
      display: flex;
      flex: 1;
      flex-direction: column;

      .radio-label {
        display: flex;
        align-items: center;
        margin-bottom: 1em;

        &:last-child {
          margin-bottom: 0;
        }

        input[type="radio"] {
          width: auto;
          margin-right: 0.5em;
        }

        .message {
          margin: 0 0 0 1em;
          padding: 0;
          display: flex;
          flex-direction: column;

          .description {
            color: $primary-medium;
          }
        }
      }

      .ac-wrap {
        max-width: 450px;
      }

      input {
        margin: 0;
      }
    }
  }
}

.post-event {
  border: 1px solid $primary-low;
  display: flex;

  &.is-loading {
    align-items: center;
    justify-content: center;
  }

  &.has-post-event {
    display: flex;
    flex-direction: column;
  }

  .post-event-footer {
    padding: 0.5em;
    background: $primary-very-low;
    margin-top: auto;
  }

  .post-event-header {
    display: flex;
    align-items: center;
    padding: 1em;

    .actions {
      margin-bottom: auto;
      margin-left: auto;
    }
  }

  .post-event-date {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-right: 1em;

    .month {
      text-align: center;
      color: red;
      font-size: $font-down-1;
      text-transform: uppercase;
    }

    .day {
      text-align: center;
      font-weight: 500;
      font-size: $font-up-2;
    }
  }

  .post-event-info {
    display: flex;
    flex-direction: column;

    .name {
      font-weight: 700;
      @include ellipsis;
      max-width: 45vw;
    }
    .status-and-creators {
      display: inline-flex;
      align-items: center;
      margin-bottom: 0.25em;
    }
    .status-and-creators {
      color: $primary-medium;
      font-size: $font-down-1;

      .separator {
        margin: 0 0.25em;
      }

      .status {
        &.expired {
          color: $danger-medium;
        }

        .d-icon {
          margin-right: 0.5em;
        }
      }
    }
  }

  .post-event-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;

    .post-event-status {
      &.status-going {
        color: $success;
      }

      &.status-not_going {
        color: $danger;
      }
    }
  }

  .post-event-creator {
    .username {
      margin-left: 0.25em;
    }
  }

  .post-event-invitees {
    padding: 1em;
    overflow-y: auto;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1em;

      .show-all {
        margin-left: 0.5em;
        text-transform: lowercase;
      }

      .post-event-invitees-status {
        font-weight: 700;

        .invited {
          font-weight: 500;
          color: $primary-medium;
        }
      }
    }

    .post-event-invitees-avatars {
      padding: 0;
      margin: 0;
      display: inline-flex;
      flex-wrap: wrap;

      .post-event-invitee {
        list-style: none;
        margin-right: 0.5em;
        margin-bottom: 0.5em;
        opacity: 0.25;

        &.status-going,
        &.status-not_going,
        &.status-interested {
          opacity: 1;
        }
      }

      .topic-invitee-avatar {
        position: relative;
        display: flex;

        .avatar-flair {
          position: absolute;
          right: 0;
          bottom: 0;
          background: $secondary;
          border-radius: 50%;
          height: 16px;
          width: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $primary-medium;
          border: 1px solid $primary-low;

          &.avatar-flair-status-going {
            color: $success;
          }

          &.avatar-flair-status-not_going {
            color: $danger;
          }

          .d-icon {
            font-size: $font-down-3;
          }
        }
      }
    }
  }

  hr {
    margin: 0;
  }

  .post-event-dates {
    display: flex;
    align-items: center;
    padding: 1em;

    .participants {
      margin-left: 0.5em;
      color: $primary-medium;
    }

    .d-icon {
      color: $primary-medium;
    }

    .date {
      color: $primary-high;
      margin-left: 1em;

      .discourse-local-date {
        .d-icon {
          display: none;
        }
      }
    }

    .separator {
      color: $primary-high;
      margin: 0 0.5em;
      text-align: center;
    }
  }
}

.post-event-invitees-modal {
  .filter {
    width: 100%;
  }
  .invitees {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;

    .invitee {
      list-style: none;
      display: flex;
      flex: 1;
      padding: 0.5em;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $primary-low;

      &:last-child {
        border: none;
      }

      .user {
        .username {
          margin-left: 0.5em;
        }
      }

      .status {
        margin-left: 1em;

        &.going {
          color: $success;
        }

        &.not_going {
          color: $danger;
        }
      }
    }
  }
}

.upcoming-events-table {
  width: 100%;

  tbody {
    tr td {
      padding: 0.5em;
    }
  }
}
