.upcoming-events-list {
  &__formatted-month {
    font-weight: 600;
  }

  &__day-section {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
    gap: 0.5rem;
  }

  &__formatted-day {
    margin-left: 0.5rem;
    font-weight: 600;
    font-size: var(--base-font-size);
  }

  &__event {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    gap: 0.25rem;
    font-size: var(--font-down-1);
    line-height: var(--line-height-medium);
  }

  &__event-name {
    width: 70%;
  }

  &__event-time {
    width: 30%;
    text-align: center;
  }

  &__footer {
    border-top: 1px solid var(--primary-low);
    padding-top: 0.5em;
    font-size: var(--font-down-1);
    line-height: var(--line-height-medium);
  }
}
