.upcoming-events-list {
  &__event {
    column-gap: 0.5em;
    display: flex;
    margin-top: 0.5em;
  }
  &__event:last-of-type {
    margin-bottom: 0.5em;
  }
  &__event-date {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 2.5em;
    height: 2.5em;
    margin: 0;
    padding: 0;
    border: 1px solid var(--primary-low);
    border-radius: var(--d-button-border-radius);
    flex-direction: column;
    background-color: var(--secondary);
  }
  &__event-date .month {
    text-align: center;
    color: red;
    font-size: var(--font-down-3);
    font-weight: 400;
    text-transform: uppercase;
  }
  &__event-date .day {
    text-align: center;
    font-weight: 400;
    color: var(--primary);
    font-size: var(--font-down-1);
  }
  &__event-content {
    display: flex;
    flex-direction: column;
  }
  &__event-name {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: var(--font-down-1);
    color: var(--primary);
  }
  &__event-time {
    font-size: var(--font-down-1);
    font-weight: 400;
    color: var(--primary-medium);
  }
  &__footer {
    margin-top: 1em;
    font-size: var(--font-down-2);
    line-height: var(--line-height-medium);
  }
  &__footer a {
    color: var(--primary-high);
  }
}
