
<div>
    <h3>{{ i18n "js.discourse_calendar.upcoming_events_categories_selector" }}</h3>
    <CalendarCategoriesSelector
        @events={{ this.events }}
        @value={{ this.selectedCategories }}
        @onChange={{ this.changeSelectedCategories}}
    />
</div>
<div id="upcoming-events-calendar"></div>