
<div>
    <CalendarCategoriesSelector
        @events={{ this.events }}
        @value={{ this.selectedCategories }}
        @onChange={{ this.changeSelectedCategories}}
    />
</div>
<div id="upcoming-events-calendar"></div>